.topic__bar{
    border-color: black;
}

.topic__name{
    border-color: black;
}

.placement__list{
    text-align: center;
}

.placement__list div{
    border-color: black;
    border-width: 20px;
    text-align: center;
}

.topic__bar{
    background-color: azure;
    margin-bottom: 15px;
    margin: 10px;
}

.topic__name{
    background-color: #864879;
    width: 500px;
    height: 45px;
    text-align: center;
    padding-top: 8px;
}

.topic__choices{
    background-color: darkgray;
    width: 600px;
    height: 45px;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    padding: 7px;
}


.topic__option__1, .topic__option__2, .topic__option__3{
    border-radius: 20px;
    margin: 1px;
    width: 32%;
    height: 30px;
}