/*.navbar{
    width: 100%;
    background-color: #1F1D36;
    color: white;
    }
    
    .nav a 
    {
     color: white;
    } */
    
    /*#grad
    {
      background-image: linear-gradient(to right, #3F3351 , #B67C9A);
    }*/
    
   /* .icons
    {
      height: 20px;
      width: 20px
    }
    
    body {
      font-family: "Lato", sans-serif;
    }
    
    .padLogo{
        padding-left: 5px;
        margin-left: 20px;
    }*/

     /*.logo{
          background: linear-gradient(
                to right, #f32170, #ff6b08,
                 #cf23cf, #eedd44);
                 -webkit-text-fill-color: transparent;
                 -webkit-background-clip: text; */